{% extends 'base.html.twig' %}

{% block title %}Opens Tickets{% endblock %}
{% block h1 %}Opens Tickets{% endblock %}


{% block body %}
    <a class="btn btn-primary btn-lg" href="{{ path('app_event_show', {'adminLinkToken': event.adminLinkToken}) }}">Groups</a>


    <div class="mt-5">
            {% for ticket in tickets %}
                <div class="card mb-3 text-dark">
                    <div class="card-header">
                        {{ ticket.createdAt ? ticket.createdAt |date("F jS \\a\\t g:ia") : '' }}
                        <span class="badge bg-warning float-end">{{ ticket.status ? ticket.status.name : "Waiting..." }}</span>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Group : {{ ticket.group.name }} - {{ ticket.priority.name }}</h5>
                        <p class="card-text">{{ ticket.request }}</p>
                        <a href="{{ path('app_event_ticket_edit', {'adminLinkToken': event.adminLinkToken, 'id': ticket.id}) }}" class="btn btn-primary btn-lg">Edit</a>
                    </div>
                </div>
            {% else %}
                <p>no tickets found</p>
            {% endfor %}
    </div>

{% endblock %}
