{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>{{ event.name }} - Groups</h1>
    <h2>Create a group</h2>
    {{ include('group/_form.html.twig') }}


    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>LastArchived</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for group in groups %}

        <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.lastArchived ? group.lastArchived|date("F jS \\a\\t g:ia") : '' }}</td>
            <td>
                <a href="{{ path('app_group_show', {'linkToken': group.linkToken}) }}">show</a>
                {{ include('group/_delete_form.html.twig') }}
            </td>
        </tr>

    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>


    {% endfor %}
    </tbody>
</table>



{% endblock %}
