{{ form_start(form) }}
<div class="mt-5 mb-5">
    <h2>Create a ticket</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">{{ form_label(form.request, "Request") }}</span>
        {{ form_widget(form.request, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-floating text-dark">
        {{ form_widget(form.priority, {'attr': {'class': 'form-select mb-3'}}) }}
        {{ form_label(form.priority, "Priority") }}
    </div>
    <div class="text-center">
        <button class="btn btn-outline-light">{{ button_label|default('Save Ticket') }}</button>
    </div>
</div>
{{ form_end(form) }}