{% extends 'base.html.twig' %}

{% block title %}Edit Ticket n°{{ ticket.id }}{% endblock %}
{% block h1 %}Edit Ticket n°{{ ticket.id }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="d-flex mt-5 justify-content-between mb-2"><h2>Edit a ticket</h2> {{ include('ticket/_delete_form.html.twig') }}</div>

        {{ include('ticket/_form.html.twig') }}


        <a class="btn btn-outline-primary btn-lg" href="{{ path('app_group_show', {'linkToken': group.linkToken}) }}">Return to list</a>


    </div>
{% endblock %}
