{{ form_start(form) }}
<div class="mt-5 mb-5">
    <div class="input-group mb-3 input-group-lg">
        <span class="input-group-text" id="basic-addon1">{{ form_label(form.name, "Group Name") }}</span>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="text-center">
        <button class="btn btn-outline-light btn-lg">{{ button_label|default('Create Group') }}</button>
    </div>
</div>

{{ form_end(form) }}
